.GlucoseHeatMap {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.low-sugar{
    fill: blue
}

.lower-in-range-sugar{
    fill:rgb(0, 128, 79)
}

.in-range-sugar{
    fill:green
}

.upper-in-range-sugar{
    fill:rgb(79, 128, 0)
}

.risen-sugar{
    fill:orange
}

.high-sugar{
    fill:red
}

.very-high-sugar{
    fill: black
}