.GlucoseHeatMap {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.GlucoseHeatMaps {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
}


h3{
    text-align: center;
}


.low-sugar {
    fill: #0074D9; /* standard blue */
}

.lower-in-range-sugar {
    fill: #007A4D; /* teal-green */
}

.in-range-sugar {
    fill: #00B87B; /* mint green */
}

.upper-in-range-sugar {
    fill: #7DB700; /* lime green */
}

.risen-sugar {
    fill: #FFB400; /* orange */
}

.high-sugar {
    fill: #FF4136; /* bright red */
}

.very-high-sugar {
    fill: #8B0000; /* dark red */
}

.critical-sugar {
    fill: #000000; /* black */
}

.GlucoseHeatLegend{
    padding-left: 2vw;
}

.sugar-legend {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
  }
  
.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.color-box {
    width: 16px;
    height: 16px;
    border-radius: 3px;
  }